/**
 * The plugin admin styles.
 */
.dw-custom-google-map-settings-page .card {
	max-width: 600px;
}

.option-custom-marker img {
	border: 1px solid #d7d7d7;
	float: right;
	padding: 5px;
}

.option-custom-css textarea {
	font-family: consolas, "courier new", sans-serif;
	font-size: 12px;
}
